:root {
  --black: #121212;
  --gray: #1d1d1d;
  --brown: #bea69e;
  --white: #ffffff;
  --dmsans: "DM Sans", sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
/* Reset css */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
.aboutus{
  width: 1240px;
  max-width: 1440px;
  background-color: var(--black) ;
  
}
.au-title{
  width: 1240px;
  display: block;
  color: var(--white);
  font-family: var(--dmsans);
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -4%;

}
.au-title span{
  color: var(--brown);
}
.au-wrap{
  width: 1240px;
  height: 240px;
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.au-image{
  width: 560px;
  height: 240px;
  border-radius: 1000px;
  margin-right: 10px;
  
  
  
}
.au-wrap p{
  color: var(--white);
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.au-text-first{
  width: 314px;
}
.au-text-seccond{
  width:276px;
}
