:root {
  --black: #121212;
  --gray: #1d1d1d;
  --brown: #bea69e;
  --white: #ffffff;
  --dmsans: "DM Sans", sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
/* Reset css */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  background-color: #121212;
}
header{
  background-color:#121212 ;
  color: #ffffff;
  width: 982px;
  height: 60px;
  display: flex;
  
}

.header{
  margin: 20px 100px;

  display: flex;
}

.div-nav{
  padding: 20px 50px 20px 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-nav{
  margin: auto;
  display: flex;
}

.nav-logo-title{
  width: 123px;
  height: 16px;
  margin-right: 76px;
  line-height: 1.10;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  font-family: var(--dmsans);

}

ul{
  display: inline-flex;
  gap: 40px;
  list-style: none;
}

.link nav{

}